*.rdb
/.metadata/
/.metadata/
/conf
*.properties

/etoken-comp-admin/conf/*.properties
/etoken-comp-api/conf/*.properties
/etoken-comp-eosblock/conf/*.properties
/etoken-comp-market/conf/*.properties
/etoken-comp-news/conf/*.properties
/etoken-comp-user/conf/*.properties
